<<<<<<< HEAD
<h1><%= title ></h1>
=======
<h1><%= @name%></h1>
>>>>>>> 6e720f8d1690db0316657bbf1d49e7b9c020345b
<p> This is the home page for the <a href="http://railstutorial.org">Ruby on Rails Tutorial</a> Sample application
</p>
<%= link_to "Sign up now!", '#', :class => "signup_botton round" %>